In [9]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Read Inside Airbnb data") \
    .getOrCreate()

In [12]:
listings=spark.read.csv('../data/raw/listings.csv.gz',
header=True,
inferSchema=True,
sep=",",
quote='"',
escape='"',
multiLine=True,
mode="PERMISSIVE")

25/12/25 11:19:22 WARN FileStreamSink: Assume no metadata directory. Error while looking for metadata directory in the path: ../data/raw/listings.csv.gz.
java.lang.UnsupportedOperationException: getSubject is not supported
	at java.base/javax.security.auth.Subject.getSubject(Subject.java:277)
	at org.apache.hadoop.security.UserGroupInformation.getCurrentUser(UserGroupInformation.java:588)
	at org.apache.hadoop.fs.FileSystem$Cache$Key.<init>(FileSystem.java:3888)
	at org.apache.hadoop.fs.FileSystem$Cache$Key.<init>(FileSystem.java:3878)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:3666)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:557)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:289)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:541)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:366)
	at org.apache.spark.sql.execution.streaming.sinks.FileStreamSink$.hasMetadata(FileStreamSink.scala:57)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:384)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.org$apache$spark$sql$catalyst$analysis$ResolveDataSource$$loadV1BatchSource(ResolveDataSource.scala:143)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.$anonfun$applyOrElse$2(ResolveDataSource.scala:61)
	at scala.Option.getOrElse(Option.scala:201)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.applyOrElse(ResolveDataSource.scala:61)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.applyOrElse(ResolveDataSource.scala:45)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$3(AnalysisHelper.scala:139)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:107)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$1(AnalysisHelper.scala:139)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:416)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning(AnalysisHelper.scala:135)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning$(AnalysisHelper.scala:131)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUpWithPruning(LogicalPlan.scala:37)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUp(AnalysisHelper.scala:112)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUp$(AnalysisHelper.scala:111)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUp(LogicalPlan.scala:37)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.apply(ResolveDataSource.scala:45)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.apply(ResolveDataSource.scala:43)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$2(RuleExecutor.scala:248)
	at scala.collection.LinearSeqOps.foldLeft(LinearSeq.scala:183)
	at scala.collection.LinearSeqOps.foldLeft$(LinearSeq.scala:179)
	at scala.collection.immutable.List.foldLeft(List.scala:79)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1(RuleExecutor.scala:245)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1$adapted(RuleExecutor.scala:237)
	at scala.collection.immutable.List.foreach(List.scala:323)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.execute(RuleExecutor.scala:237)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.org$apache$spark$sql$catalyst$analysis$Analyzer$$executeSameContext(Analyzer.scala:343)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$execute$1(Analyzer.scala:339)
	at org.apache.spark.sql.catalyst.analysis.AnalysisContext$.withNewAnalysisContext(Analyzer.scala:224)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:339)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:289)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$executeAndTrack$1(RuleExecutor.scala:207)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.executeAndTrack(RuleExecutor.scala:207)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:236)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:91)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:122)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:84)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:322)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:322)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:139)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:330)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:717)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:330)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:329)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:139)
	at scala.util.Try$.apply(Try.scala:217)
	at org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1392)
	at org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)
	at org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)
	at org.apache.spark.util.LazyTry.get(LazyTry.scala:58)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:150)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:90)
	at org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$1(Dataset.scala:114)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
	at org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:112)
	at org.apache.spark.sql.classic.DataFrameReader.load(DataFrameReader.scala:108)
	at org.apache.spark.sql.classic.DataFrameReader.load(DataFrameReader.scala:57)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:392)
	at org.apache.spark.sql.classic.DataFrameReader.csv(DataFrameReader.scala:258)
	at org.apache.spark.sql.classic.DataFrameReader.csv(DataFrameReader.scala:57)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:565)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:108)
	at java.base/java.lang.Thread.run(Thread.java:1474)

UnsupportedOperationException: getSubject is not supported

In [ ]:
listings.printSchema()

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: long (nullable = true)
 |-- last_scraped: date (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: date (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: integer (nullable = true)
 |-- host_total_listings_count: integer (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- beds: integer (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- minimum_minimum_nights: integer (nullable = true)
 |-- maximum_minimum_nights: integer (nullable = true)
 |-- minimum_maximum_nights: integer (nullable = true)
 |-- maximum_maximum_nights: integer (nullable = true)
 |-- minimum_nights_avg_ntm: double (nullable = true)
 |-- maximum_nights_avg_ntm: double (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: integer (nullable = true)
 |-- availability_60: integer (nullable = true)
 |-- availability_90: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- calendar_last_scraped: date (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- number_of_reviews_l30d: integer (nullable = true)
 |-- first_review: date (nullable = true)
 |-- last_review: date (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- calculated_host_listings_count_entire_homes: integer (nullable = true)
 |-- calculated_host_listings_count_private_rooms: integer (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: integer (nullable = true)
 |-- reviews_per_month: double (nullable = true)

In [ ]:
# 1. Get a non-null picture URL for any property ("picture_url" field)
# Select any non-null picture URL
listings.filter(
    listings.picture_url.isNotNull()
) \
.select('picture_url') \
.limit(1) \
.show(truncate=False)

+------------------------------------------------------------------------------------------------------+
|picture_url                                                                                           |
+------------------------------------------------------------------------------------------------------+
|https://a0.muscache.com/pictures/miso/Hosting-13913/original/d755aa6d-cebb-4464-80be-2722c921e8d5.jpeg|
+------------------------------------------------------------------------------------------------------+

In [ ]:
# 2. Get number of properties that get more than 10 reviews per month
listings.filter(
  listings.reviews_per_month > 10
) \
.count()

66

In [ ]:
# 3. Get properties that have more bathrooms than bedrooms
listings.filter(
    (listings.bathrooms > listings.bedrooms)
) \
.select('name', 'bathrooms', 'bedrooms') \
.show(10, truncate=False)

+--------------------------------------------------+---------+--------+
|name                                              |bathrooms|bedrooms|
+--------------------------------------------------+---------+--------+
|Battersea live/work artist house, garden & parking|1.5      |1       |
|West London-W7, Hanwell(Area Ealing) Room (Female)|1.5      |1       |
|West London,loft ensuite, 5min2tube               |1.5      |1       |
|Large Bedroom with EnSuite Bathroom               |1.5      |1       |
|Cosy Double studio in Zone 2 Hammersmith (1)      |1.5      |1       |
|Shoreditch Loft                                   |1.5      |1       |
|Five minute walk to South Bank                    |1.5      |1       |
|Designer room Park Views 4 mins zone 1 station    |1.5      |1       |
|Cosy Double room London, River View               |1.5      |1       |
|Maisonette in Central London Zone 1               |1.5      |1       |
+--------------------------------------------------+---------+--------+
only showing top 10 rows

In [ ]:
# 4. Get properties where the price is greater than 5,000. Collect the result as a Python list
from pyspark.sql.functions import regexp_replace

listings_with_price = listings \
  .withColumn('price_numeric', regexp_replace('price', '[$,]', '').cast('float'))

res = listings_with_price.filter(
    (listings_with_price.price_numeric > 5000)
) \
.select('name', 'price') \
.collect()

res

[Row(name='Bright ,Modern, 12m to Bond street.', price='$5,500.00'),
 Row(name='Room in a cosy flat. Central, clean', price='$8,000.00'),
 Row(name='3 Bed Flat in South Hampstead with Large Garden!', price='$25,000.00'),
 Row(name='Spacious Private Ground Floor Room', price='$7,693.00'),
 Row(name='No Longer Available', price='$53,588.00'),
 Row(name='Very nice double room in the heart of Soho', price='$5,100.00'),
 Row(name='Knightsbridge Penthouse', price='$8,895.00'),
 Row(name='Luxury 5-star Flat with Art & Tech', price='$6,276.00'),
 Row(name='The Apartments by The Sloane Club, L 2 Bedroom Apt', price='$7,589.00'),
 Row(name='The Apartments by The Sloane Club, One Bedroom Apt', price='$7,589.00'),
 Row(name='Great Apartment next to Sloane Square', price='$6,250.00'),
 Row(name='Lovely Private double room at zone 2 Holloway Road', price='$5,147.00'),
 Row(name='Kensington- Luxury 2 bedroom ground floor flat', price='$8,000.00'),
 Row(name='Single room. 7ft x 9ft - Over looking garden', price='$6,000.00'),
 Row(name='Close To London Eye (HED)', price='$75,000.00'),
 Row(name='CLOSE TO LONDON EYE (CHECZ)', price='$75,000.00'),
 Row(name='Stunning  Renovated Townhouse in Pretty Square', price='$60,000.00'),
 Row(name='Semi-detached mews house in Knightsbridge.', price='$7,000.00'),
 Row(name='Beautiful 2 BR flat in Kilburn with free parking', price='$6,000.00'),
 Row(name='Affordable Spacious  Room on the edge of the city', price='$6,000.00'),
 Row(name='â€”', price='$20,000.00'),
 Row(name='Hyde Park Suite', price='$6,545.00'),
 Row(name='Serpentine Suite', price='$5,645.00'),
 Row(name='City Suite', price='$6,245.00'),
 Row(name='Westminster Suite', price='$5,945.00'),
 Row(name='The Presidential - 6 bed - stunning elegance', price='$6,000.00'),
 Row(name='Kensington Penthouse', price='$9,395.00'),
 Row(name='Mayfair Penthouse', price='$8,895.00'),
 Row(name='Foxter Properties Chelsea', price='$12,000.00'),
 Row(name='Close To London Eye', price='$8,000.00'),
 Row(name='1. V02 Large Apartment; next to Piccadilly Circus!', price='$6,400.00'),
 Row(name='Prestige Paddington 2 Bed', price='$5,720.00'),
 Row(name='Room In Zone 1 (TOB)', price='$80,000.00'),
 Row(name='Villa Almas Mayfair.', price='$5,400.00'),
 Row(name='ð•ð¢ð¥ð¥ðš ð„ð¦ðžð«ðšð¥ð ðŒðžð°ð¬', price='$5,364.00'),
 Row(name='Close To London Bridge', price='$80,000.00'),
 Row(name='CentralLondon Luxury for 5! 1Min from Paddington', price='$9,680.00'),
 Row(name='Home Guest', price='$6,033.00'),
 Row(name='20% Off Monthly Business Relocation Stays Belsize', price='$15,000.00'),
 Row(name='Ultra Luxe 4 Bed flat in Mayfair', price='$6,000.00'),
 Row(name='Short Walk To London Eye (SUR)', price='$71,000.00'),
 Row(name='London luxury.', price='$12,000.00'),
 Row(name='Short Walk to London Eye (HON)', price='$50,000.00'),
 Row(name='The Artists House', price='$16,564.00'),
 Row(name='Luxury Grade II Listed Mansion', price='$9,000.00'),
 Row(name='best place to be to relax', price='$6,248.00'),
 Row(name='Modern apartment Central London', price='$9,900.00')]

In [ ]:
# 5. Get a list of properties with the following characteristics:
# * price < 150
# * more than 20 reviews
# * review_scores_rating > 4.5
# Consider using the "&" operator

listings_with_price.filter(
    (listings_with_price.price_numeric < 150) &
    (listings_with_price.number_of_reviews > 20) &
    (listings_with_price.review_scores_rating > 4.5)
  ) \
.select('name', 'price_numeric', 'number_of_reviews', 'review_scores_rating') \
.show(truncate=False)

+--------------------------------------------------+-------------+-----------------+--------------------+
|name                                              |price_numeric|number_of_reviews|review_scores_rating|
+--------------------------------------------------+-------------+-----------------+--------------------+
|Holiday London DB Room Let-on going               |59.0         |44               |4.82                |
|Bright Chelsea  Apartment. Chelsea!               |120.0        |96               |4.8                 |
|Double Room (Unavailable for check in 31Dec-1Jan) |40.0         |38               |4.89                |
|A stylish Victorian home in West London           |131.0        |91               |4.85                |
|I Bedroom flat Tower of London                    |145.0        |248              |4.9                 |
|You are GUARANTEED to love this                   |82.0         |691              |4.86                |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |55.0         |55               |4.96                |
|West London-W7, Hanwell(Area Ealing) Room (Female)|37.0         |117              |4.79                |
|West London,loft ensuite, 5min2tube               |69.0         |187              |4.7                 |
|A double Room 5mins from King's College Hospital  |55.0         |99               |4.73                |
|Charming Flat in Notting Hill                     |94.0         |247              |4.74                |
|Room with a view, shared flat,  central  Bankside |86.0         |128              |4.69                |
|You Will Save Money Here                          |65.0         |591              |4.89                |
|Quiet Comfortable Room in Fulham                  |60.0         |245              |4.72                |
|Beautiful 1 bed apt in Queens Park                |130.0        |134              |4.87                |
|Pleasant Single Room in zone 1.                   |59.0         |458              |4.81                |
|Large Bedroom with EnSuite Bathroom               |68.0         |298              |4.66                |
|Cosy Double studio in Zone 2 Hammersmith (6)      |87.0         |170              |4.69                |
|Beautiful Small Studio Hammersmith                |85.0         |201              |4.71                |
|Cosy Double studio in Zone 2 Hammersmith (1)      |89.0         |136              |4.71                |
+--------------------------------------------------+-------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
# 6. Get a list of properties with the following characteristics:
# * price < 150 OR more than one bathroom
# Use the "|" operator to implement the OR operator

listings_with_price.filter(
    (listings_with_price.price_numeric < 150) | (listings_with_price.bedrooms > 1)
  ) \
.select('name', 'price_numeric', 'bedrooms') \
.show(truncate=False)

+--------------------------------------------------+-------------+--------+
|name                                              |price_numeric|bedrooms|
+--------------------------------------------------+-------------+--------+
|Holiday London DB Room Let-on going               |59.0         |1       |
|Bright Chelsea  Apartment. Chelsea!               |120.0        |1       |
|Fab 3-Bed/2 Bath & Wifi: Trendy W1                |493.0        |3       |
|Beautiful Ensuite Richmond-upon-Thames borough    |140.0        |1       |
|Double Room (Unavailable for check in 31Dec-1Jan) |40.0         |1       |
|A stylish Victorian home in West London           |131.0        |1       |
|Contemporary central London apt                   |215.0        |2       |
|I Bedroom flat Tower of London                    |145.0        |1       |
|Bright 1 bedroom off brick land                   |109.0        |1       |
|Kew Gardens 3BR house in cul-de-sac               |245.0        |3       |
|You are GUARANTEED to love this                   |82.0         |1       |
|CHARMING FAMILY HOME                              |289.0        |4       |
|Room 1 Large Double Bedroom - front ground floor  |55.0         |3       |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |55.0         |1       |
|2 Double bed apartment in quiet area North London |120.0        |2       |
|Entire London Town House Next 2 Tube & Wimbledon  |218.0        |2       |
|West London-W7, Hanwell(Area Ealing) Room (Female)|37.0         |1       |
|Spacious 2-bed Muswell Hill garden apartment      |NULL         |2       |
|great location absolutely central                 |NULL         |2       |
|West London,loft ensuite, 5min2tube               |69.0         |1       |
+--------------------------------------------------+-------------+--------+
only showing top 20 rows

In [ ]:
# 7. Get the highest listing price in this dataset
# Consider using the "max" function from "pyspark.sql.functions"

from pyspark.sql.functions import max
listings_with_price \
  .select(max('price_numeric')) \
  .show()

+------------------+
|max(price_numeric)|
+------------------+
|           80000.0|
+------------------+

In [ ]:
# 8. Get the name and a price of property with the highest price
# Try to use "collect" method to get the highest price first, and then use it in a "filter" call 

res = listings_with_price \
  .select(max('price_numeric').alias('max_price')) \
  .collect()
res

[Row(max_price=80000.0)]

In [ ]:
max_price = res[0]['max_price']
max_price

80000.0

In [ ]:

listings_with_price \
  .filter(
    listings_with_price.price_numeric == max_price
  ) \
.select('name', 'price') \
.show()

+--------------------+----------+
|                name|     price|
+--------------------+----------+
|Room In Zone 1 (TOB)|$80,000.00|
|Close To London B...|$80,000.00|
+--------------------+----------+

In [ ]:
# 9. Get the number of hosts in the dataset
listings \
  .select('host_name') \
  .distinct() \
  .count()

16379

In [ ]:
# 10. Get listings with a first review in 2024
# Consider using the "year" function from "pyspark.sql.functions"

from pyspark.sql.functions import year

listings.filter(
    year(listings.first_review) == 2024
) \
.select('name', 'first_review') \
.show(10, truncate=False)

+--------------------------------------------------+------------+
|name                                              |first_review|
+--------------------------------------------------+------------+
|Close to Wimbledon All England Tennis -huge double|2024-08-11  |
|one Double bed room with en-suite facilities      |2024-03-21  |
|Double Room for one -Herne Hill Zone 2/3Thameslink|2024-05-26  |
|Apartment in Southwark - Private living room      |2024-07-09  |
|Sm double room  with own bathroom                 |2024-06-04  |
|Superlux flat in Knightsbridge                    |2024-01-01  |
|Luxurious Flat in South Kensington                |2024-06-19  |
|The Pink House, Notting Hill                      |2024-07-14  |
|Superior Single Room (En-suite)                   |2024-06-21  |
|Charming flat in Tufnell Park                     |2024-04-28  |
+--------------------------------------------------+------------+
only showing top 10 rows